  
  <!-- Navigation -->
  
  <nav>
        <div class="container">
          <div class="mm-toggle-wrap">
            <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">Menu</span> </div>
          </div>
          <div class="nav-inner"> 
            <!-- BEGIN NAV -->
            <ul id="nav" class="hidden-xs">
              <li class="level0 parent drop-menu" id="nav-home"><a href="/" class=""><i class="fa fa-home"></i><span class="hidden">Home</span></a>
              </li>
              <li class="level0 nav-6 level-top drop-menu"> <a class="" href="#"> <span>Les Collectivités</span> </a>
              </li>
              <li class="mega-menu"> <a class="" href="/itemList/1"><span>Les produits frais</span></a>
              </li>
            </ul>
            <!--nav--> 
            <div class="top-cart-contain pull-right"> 
                  <!-- Top Cart -->
                  <div class="mini-cart">
                    <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a href="/cart"> <span class="cart_count">
                      <% if(session.cart) { %>
                      <%=session.cart.length%>
                      <% } else { %>
                        0
                      <% }%>
                    </span> </a> </div>
                    <div>
                      <% if(session.cart) { %>
                      <div class="top-cart-content"> 
                        
                        <!--block-subtitle-->
                        <ul class="mini-products-list" id="cart-sidebar">
                         
                          <% for (var i =0; i<session.cart.length; i++){ %>
                              <li class="item first">
                                <div class="item-inner"> <a class="product-image" title="" href="/visualisationAnnonce/<%=session.cart[i].id%>"><img alt="Retis lapen casen" src="<%=session.cart[i].img%>"> </a>
                                  <div class="product-details">
                                    <!--access--><strong><%=session.cart[i].qte%></strong> x <span class="price"><%=session.cart[i].prixU%> €</span>
                                    <p class="product-name"><a href="/visualisationAnnonce/<%=session.cart[i].id%>"><%=session.cart[i].title%></a><br /> <small><%=session.cart[i].category%>, <%=session.cart[i].product%></small> </p>
                                  </div>
                                </div>
                              </li>
                          <% } %>
      
                        </ul>
                        
                         <!--actions-->
                         <div class="actions" style="min-width: 250px;">
                            <a href="/cart" class="view-cart"><span>Voir mon panier</span></a> </div>
                        </div>
                       
                    </div>
                    <% } %>
                  </div>
                  <!-- Top Cart -->
                  <div id="ajaxconfig_info" style="display:none"> <a href="#/"></a>
                    <input value="" type="hidden">
                    <input id="enable_module" value="1" type="hidden">
                    <input class="effect_to_cart" value="1" type="hidden">
                    <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                  </div>
                </div>
          </div>
        </div>
      </nav>
      <br/>


