<!-- views/becomeProducer.ejs -->
<!doctype html>
<html>
<head>
    <title>Fiche producteur</title>
    <% include ./partials/header %>
</head>
<body class="cms-index-index cms-home-page">
    <div id="page"> 
        <!-- Header -->
        <header>
            <% include ./partials/topBar %>
            <% include ./partials/navbar %>
            <% include ./partials/modalReport %>
        </header>
        <br /> <br />
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&key=AIzaSyBm8DYeq7M1jOwLccw1_5idQoXpGcUd0uM&libraries=places"></script>
        <script type="text/javascript">
          $(document).ready(function () {
            /*var autocomplete = new google.maps.places.Autocomplete($("#adress")[0], {});
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                selectAdress(place.geometry.location.lat(), place.geometry.location.lng(), 15, true);
                //console.log(place.address_components);
            });*/
            
        
            selectAdress(<%=lat%>, <%=long%>, 15, true);
        
            function selectAdress(lat, long, zoom, marker){
                var latlng = new google.maps.LatLng(lat, long)
                
                var myOptions = {
                    center: latlng,
                    zoom: zoom,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("map"),
                    myOptions);
                if(marker){
                    var marker = new google.maps.Marker({
                        position: latlng,
                        map: map,
                        title: "<%= producer.address %>"
                    });
                    $("#location").val(lat + ','+ long);
                }
                
            }
        
          })
          
        </script>
        <br />
        <div class="col-sm-8 col-sm-offset-2 ">
            <% if (msgError.length > 0) { %>
                <div class="alert alert-danger"> <%= msgError %> </div><br /><br /><br />
            <% } %>
            <% if (msgSuccess.length > 0) { %>
                <div class="alert alert-success"> <%= msgSuccess %> </div><br /><br /><br />
            <% } %>
        </div>

        <% if (msgError != "Ce producteur n'existe pas !") { %>

            <% 
                var nbComment = producer.comment.length;
                var totalStar = 0;
                for(var i =0; i<nbComment; i++){
                    totalStar+=producer.comment[i].starComment;
                }
                if(nbComment>0){
                    var moyenne = ((totalStar/(nbComment*5))*5);
                    moyenne = (moyenne/5)*100
                }else{
                    var moyenne = "Pas encore d'évaluation";
                }
               
            %>

            <section class="main-container col1-layout">
                <div class="main">
                  <div class="container">
                    <div class="row">
                      <div class="col-main">
                        <div class="product-view">
                          <div class="product-essential">
                            <form action="#" method="post" id="product_addtocart_form">
                              <input name="form_key" value="6UbXroakyQlbfQzK" type="hidden">
                              <div class="product-img-box col-lg-4 col-sm-5 col-xs-12">

                                <div class="product-image">
                                  <div class="product-full"> <img id="product-zoom" src="<%= avatar %>" data-zoom-image="<%= avatar %>" alt="producer-image"/> </div>
                                </div>
                                <!-- end: more-images --> 
                              </div>
                              <div class="product-shop col-lg-8 col-sm-7 col-xs-12">
                                <div class="product-name">
                                  <h3><%= producer.loginUser%><br/><small><%= producer.lastNameProducer %> <%= producer.firstNameProducer %></small></h3>
                                </div>
                                <div class="ratings">
                                  <div class="rating-box">
                                      <% if(nbComment == 0) {%>
                                        <div style="width:100%" class="rating"></div>
                                      <% }else{ %>
                                        <div style="width:<%=moyenne%>%" class="rating"></div>
                                      <% } %>
                                  </div>
                                  <p class="rating-links"> <a href="#"><%=nbComment%> Commentaire(s)</a></p>
                                </div>
                                <div class="short-description" style=" overflow-wrap: break-word; ">
                                  <h2>Description</h2>
                                  <p><%- producer.descriptionProducer %></p>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="product-collateral col-lg-12 col-sm-12 col-xs-12">
                        <div class="add_info">
                          <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                            <li class="active"> <a href="#product_tabs_description" data-toggle="tab">Localisation de la production</a></li>
                            <li> <a href="#product_tabs_custom" data-toggle="tab">Avis des consommateurs</a> </li>
                          </ul>
                          <div id="productTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="product_tabs_description">
                              <div class="std" syle="overflow-wrap: break-word;">
                                  <div id="map" class="form-control"style="height:500px;"></div>
                                  <input type="hidden" class="form-control" id="location" name="location">
                              </div>
                            </div>
                            <div class="tab-pane fade" id="product_tabs_custom">
                              <div class="product-tabs-content-inner clearfix">
                                  <div class="box-collateral box-reviews" id="customer-reviews">
                                      <div class="box-reviews2">
                                        <h3>Avis des consommateurs</h3>
                                        <div class="box visible">
                                          <ul>
                                                <% if(nbComment == 0){ %>
                                                    <li><p>Ce producteur n'a pas encore d'avis</p></li>
                                                <% }else{ 
                                                    for(var i =0; i<nbComment; i++){ %>
                                            <li>
                                              <table class="ratings-table">
                                                <colgroup>
                                                <col width="1">
                                                <col>
                                                </colgroup>
                                                <tbody>
                                                  <tr>
                                                    <th>Evalutation </th>
                                                    <td><div class="rating-box">
                                                        <% var star = (producer.comment[i].starComment/5)*100 %>
                                                        <div style="width:<%=star%>%" class="rating"></div>
                                                      </div></td>
                                                  </tr>
                                                  <tr>
                                                    <th>Par </th>
                                                    <td><%= producer.comment[i].loginUser %></td>
                                                  </tr>
                                                  <tr>
                                                    <th>le </th>
                                                    <td> <%= producer.comment[i].dateComment %>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                              <div class="review">
                                                <div class="review-txt"><%- producer.comment[i].comment.replace(/\n|\r/g,'<br />') %></div>
                                              </div>
                                            </li>
                                                    <% }
                                            } %>
                                          </ul>
                                        </div>
                                        <!--<div class="actions"> <a class="button view-all" id="revies-button" href="#"><span><span>View all</span></span></a></div>-->
                                      </div>
                                      <div class="clear"></div>
                                    </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                  </div>
                </div>
              </section>
              <br />
              <script type="text/javascript" src="/js/report.js" ></script> 
              <p align="center"><button style="background: transparent" onclick="loadReportProducer(<%=producer.idProducer%>)">Signaler ce producteur</button></p>
        <% } %>



    </div>
    <% include ./partials/footer %>
</body>