<!-- views/connexion.ejs -->
<!doctype html>
<html>
<head>
    <title>Liste annonces</title>
    <% include ./partials/header %>
    <link rel="stylesheet" href="/css/slider.css">
    <script src="/js/bootstrap-slider.js"></script>
</head>

<body class="cms-index-index cms-home-page">
  <div id="page"> 
      <!-- Header -->
      <header>
        <% include ./partials/topBar %>
        <% include ./partials/navbar %>
        
      </header>
<br>
<% if(saveSearch!= null){ %>

<script type="text/javascript">
  function changeFilterPage(num){             
    window.location ="/itemList/filter/"+num+"?manualSearch=<%=saveSearch.manualSearch%>&category=<%=saveSearch.category%>&product=<%=saveSearch.product%>&priceMax=<%=saveSearch.priceMax%>&priceMin=<%=saveSearch.priceMin%>&lat=<%=saveSearch.lat%>&long=<%=saveSearch.long%>&address=<%=saveSearch.address%>";  
  }
</script>
<% } %>
      <section class="main-container col2-left-layout bounceInUp animated">
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-sm-push-3">
           
              
      <article class="col-main">
        <h2 class="page-heading"> <span class="page-heading-title">Les Produits</span> </h2>
        <div class="display-product-option">
          <div class="pager hidden-xs">
            <div class="pages">
                <ul class="pagination">
                    <% if(currentPage != 1){ %>
                    <li>
                        <% if(saveSearch == null){ %>
                          <a href="/itemList/<%=(currentPage-1)%>">&laquo;</a>
                        <% }else{ %>
                          <a onclick="changeFilterPage(<%=(currentPage-1)%>)" >&laquo;</a>
                        <% } %>
                    </li>
                    <% } %>
                  <% var pagination = 1; 
                  if(listTab && listTab.length>0) { %>
                    <% for (var j = 1; j<=nbItems; j = j+20){ %>
                    <% if(currentPage == pagination) { %>
                      <li class="active">
                        <% if(saveSearch == null){ %>
                          <a href="/itemList/<%=pagination%>"><%=pagination%></a>
                        <% }else{ %>
                          <a onclick="changeFilterPage(<%=pagination%>)" ><%=pagination%></a>
                        <% } %>
                      </li>
                    <% }else{ %>
                      <li>
                        <% if(saveSearch == null){ %>
                        <a href="/itemList/<%=pagination%>"><%=pagination%></a>
                      <% }else{ %>
                        <a onclick="changeFilterPage(<%=pagination%>)" ><%=pagination%></a>
                      <% } %>
                    </li>
                    <% } %>
                  <% pagination++; } } 
                  var nextPage =  (currentPage*1+1*1)%>
                  <% if(currentPage != pagination-1 && pagination != 1){ %>
                    <li>
                        <% if(saveSearch == null){ %>
                          <a href="/itemList/<%=(currentPage-1)%>">&laquo;</a>
                        <% }else{ %>
                          <a onclick="changeFilterPage(<%=(currentPage-1)%>)" >&laquo;</a>
                        <% } %>
                    </li>
                  <% } %>                    
                </ul>
            </div>
          </div>
          <div class="sorter">
            
          </div>
        </div>


        <div class="category-products">
          <ul class="products-grid">
            <% if(listTab && listTab.length>0) { 
             
              for (var i =0; i<listTab.length; i++){ %>
                  <%var desc = listTab[i].descriptionItem.replace(/\n|\r/g,'<br />') 
                  desc = desc.replace(/'/g, "\\'");
                  %>

              <li class="item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info" style=" border:1px solid LightGrey; width:260px; height:264px; max-width:260px; max-height:265px; display:table;">
                      <span style="display:table-cell; vertical-align:middle;">
                        <a href="/visualisationAnnonce/<%=listTab[i].idItem%>" title="" class="product-image">
                          <img src="<%=urlApi%>/itemPhotos/<%=listTab[i].idItem%>/img_resize/0_small.<%=listTab[i].fileExtensionsItem.split(';')[0]%>" alt="<%=listTab[i].nameProduct%>">
                        </a>
                      </span>
                      <!--<div class="new-label new-top-left">New</div>-->
                      <div class="box-hover">
                        <ul class="add-to-links">
                          <li><a class="link-quickview" onclick="displayQuickView('<%=listTab[i].nameItem%>','<%=listTab[i].priceItem%>','<%=listTab[i].quantityItem%>','<%=listTab[i].nameUnit%>', '<%=desc%>', '<%=listTab[i].idItem%>', '<%=listTab[i].fileExtensionsItem%>', '<%=urlApi%>','<%=listTab[i].loginUser%>','<%=listTab[i].nameProduct%>','<%=listTab[i].nameCategory%>', '<%=listTab[i].cpItem%>', '<%=listTab[i].cityItem%>' );">Voir plus</a> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> 
                        <a title="" href="/visualisationAnnonce/<%=listTab[i].idItem%>"><%=listTab[i].nameItem%> <%=listTab[i].photoItem%> </a><br />
                        <small><%=listTab[i].nameCategory%>, <%=listTab[i].nameProduct%></small> <br />
                        <small><%=listTab[i].cpItem%> <%=listTab[i].cityItem%></small> 
                      </div>
                      <div class="item-price">
                        <div class="price-box">
                          <!--<p class="old-price"><span class="price-label">Regular Price:</span> <span class="price">$100.00 </span> </p>-->
                          <p class="special-price"><span class="price-label">Special Price</span> <span class="price"><%= listTab[i].priceItem.toFixed(2)%> € </span> </p>
                        </div>
                      </div>
                      <div class="item-content">
                        <!--<%if (listTab[i].login == session.login) {%>
                            <a href="/item/edit/<%=listTab[i].id%>"><h3><button class='btn btn-primary'>Modifier</button></h3></a>
                        <% } %>-->
                        <div class="rating">
                          <div class="ratings">
                            <!--<div class="rating-box">
                              <div style="width:80%" class="rating"></div>
                            </div>
                            <!--<p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>-->
                          <!--</div>-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            <% } }else{ %>
              <H3>Aucun produit disponible pour vos critères de recherche.</H3>
            <% } %>
          </ul>
        </div>
        <div class="toolbar">
          <div class="row">
            <div class="col-lg-3 col-md-4">
            </div>
            <div class="col-lg-6 col-sm-7 col-md-5">
              <div class="pager">
                <div class="pages">
                  <label>Page:</label>
                  <ul class="pagination">
                      <% if(currentPage != 1){ %>
                      <li>
                          <% if(saveSearch == null){ %>
                            <a href="/itemList/<%=(currentPage-1)%>">&laquo;</a>
                          <% }else{ %>
                            <a onclick="changeFilterPage(<%=(currentPage-1)%>)" >&laquo;</a>
                          <% } %>
                      </li>
                      <% } %>
                    <% var pagination = 1; 
                    if(listTab && listTab.length>0) { %>
                      <% for (var j = 1; j<=nbItems; j = j+20){ %>
                      <% if(currentPage == pagination) { %>
                        <li class="active">
                          <% if(saveSearch == null){ %>
                            <a href="/itemList/<%=pagination%>"><%=pagination%></a>
                          <% }else{ %>
                            <a onclick="changeFilterPage(<%=pagination%>)" ><%=pagination%></a>
                          <% } %>
                          
                        </li>
                      <% }else{ %>
                        <li>
                          <% if(saveSearch == null){ %>
                          <a href="/itemList/<%=pagination%>"><%=pagination%></a>
                        <% }else{ %>
                          <a onclick="changeFilterPage(<%=pagination%>)" ><%=pagination%></a>
                        <% } %>
                      </li>
                      <% } %>
                    <% pagination++; } } 
                    var nextPage =  (currentPage*1+1*1)%>
                    <% if(currentPage != pagination-1 && pagination != 1){ %>
                      <li>
                          <% if(saveSearch == null){ %>
                            <a href="/itemList/<%=(currentPage-1)%>">&laquo;</a>
                          <% }else{ %>
                            <a onclick="changeFilterPage(<%=(currentPage-1)%>)" >&laquo;</a>
                          <% } %>
                      </li>
                    <% } %>                    
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-3">
              <div id="limiter">
                  
                <a class="button-asc left" href="#" title="Set Descending Direction"><span class="top_arrow"></span></a> </div>
            </div>
          </div>
        </div>
      </article>  

            </div>
            <% 
            var manualSearch = "";
            var address = "";
            var category = "";
            var product ="";
            var priceMax = null;
            var priceMin = null;
            var lat = null;
            var long = null;
            if(saveSearch != null){
              manualSearch = saveSearch.manualSearch;
              category = saveSearch.category;
              product = saveSearch.product;
              priceMax = saveSearch.priceMax;
              priceMin = saveSearch.priceMin;
              lat = saveSearch.lat;
              long = saveSearch.long;
              address = saveSearch.address;
            } 
          %>
            <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true&key=AIzaSyBm8DYeq7M1jOwLccw1_5idQoXpGcUd0uM&libraries=places"></script>
            <script type="text/javascript">
           
             $(document).ready(function () {
              

                $("#price").slider({});
                $('.slider-horizontal').css({'width': '100%', 'height':'30px'});

                var options = {
                    componentRestrictions: {country: 'fr'}
                };
                var autocomplete = new google.maps.places.Autocomplete($("#address")[0], options);
                
                google.maps.event.addListener(autocomplete, 'place_changed', function () {
                    var place = autocomplete.getPlace();
                    var cp ="";
                    for (var i = 0; i < place.address_components.length; i++) {
                        for (var j = 0; j < place.address_components[i].types.length; j++) {
                            if (place.address_components[i].types[j] == "postal_code") {
                                cp = place.address_components[i].long_name;
                                console.log(cp);
                                break;
                            }
                        }
                    }
                   
                   
                    $("#lat").val(place.geometry.location.lat());
                    $("#long").val(place.geometry.location.lng());
                   
                });

                $("#category").change(function () {
                  var id = $(this).children(":selected")[0].attributes.value.nodeValue;
                  loadProducts(id);
                });

                function loadProducts(id){
                  if(id != 0 ){
                    $.getJSON("/product/getByCategoryId", { id: id }).done(function( json ) {
                      if(json.code == 0){
                          $('#product').empty();
                          $('#product').append($('<option>', {
                              value: "0",
                              text: ""
                          }));
                          for(var elem in json.result) {
                            if(savedProduct!=null && savedProduct!=0){
                              if(savedProduct == json.result[elem].idProduct){
                                $('#product').append($('<option>', {
                                  value: json.result[elem].idProduct,
                                  text: json.result[elem].nameProduct,
                                  selected:"selected"
                                }));
                              }else{
                                $('#product').append($('<option>', {
                                  value: json.result[elem].idProduct,
                                  text: json.result[elem].nameProduct
                                }));
                              }
                            }else{
                              $('#product').append($('<option>', {
                                  value: json.result[elem].idProduct,
                                  text: json.result[elem].nameProduct
                              }));
                            }
                             
                          }
                      }
                    });
                  }else{
                    $.getJSON("/product").done(function( json ) {
                          $('#product').empty();
                          $('#product').append($('<option>', {
                                  value: "0",
                                  text: ""
                              }));
                             
                          for(var elem in json) {
                              $('#product').append($('<option>', {
                                  value: json[elem].idProduct,
                                  text: json[elem].nameProduct
                              }));
                          }
                      
                    });
                  }
                }

                var savedCategory = "<%=category%>";
                var savedProduct = "<%=product%>";
                var savedAddress = "<%=address%>";
                if(savedCategory!=null && savedCategory!=0){
                  loadProducts(savedCategory)
                }
                if(savedAddress!=null && savedAddress!=""){ 
                  $("#address").val(savedAddress);
                  $("#lat").val("<%=lat%>");
                  $("#long").val("<%=long%>");
                }

              }); 
            </script>
            <div class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
              <aside class="col-left sidebar">
                  <div class="side-nav-categories">
                  <div class="block-title"> Recherche </div>
                  <!--block-title--> 
                  <!-- BEGIN BOX-CATEGORY -->
                  <div class="box-content box-category">
                    <form method="GET" action="/itemList/filter/1">

                      <p>
                        <label>Nom : </label><br>
                        <input class="form-control" type="text" name="manualSearch" value="<%=manualSearch%>" style="width:100%">
                      </p>
                      <p>
                        <label>Categorie : </label><br>
                        <select class="form-control" id="category" name="category">
                            <option value="0"></option>
                            <% if(categories) {
                              categories.forEach(function (item) { 
                                if(saveSearch != null && saveSearch.category != null && saveSearch.category !=0 ){ 
                                  if(saveSearch.category == item.idCategory){ 
                              %>
                              <option value=<%= item.idCategory%> selected="selected"><%= item.nameCategory%></option> 
                              <% } else { %>
                                <option value=<%= item.idCategory%>><%= item.nameCategory%></option> 
                              <% } %>
                                  
                               <% }else{ %>
                                  <option value=<%= item.idCategory%>><%= item.nameCategory%></option> 
                                <% }
                              %> 
                            <% }) } %>
                        </select> 
                      </p>
                      <p>
                        <label>Type de Produit : </label><br>
                        <select class="form-control" id="product" name="product">
                            <option></option>
                            <% if(products){
                              products.forEach(function (item) { 
                              if(saveSearch != null && saveSearch.product != null && saveSearch.product !=0 ){ 
                                if(saveSearch.product == item.idProduct ){ 
                            %>
                            <option value=<%= item.idProduct%> selected="selected"><%= item.nameProduct%></option> 
                            <% } else { %>
                              <option value=<%= item.idProduct%>><%= item.nameProduct%></option> 
                            <% } %>
                                
                            <% }else{ %>
                              <option value=<%= item.idProduct%>><%= item.nameProduct%></option> 
                            <% }
                            %>
                              
                            <% }) }%>
                        </select> 
                      </p>
                      <% if(listTab && listTab.length>1 && prixMin != prixMax ){ %>
                      <p>
                          <label>Prix : </label><br>
                          
                          <% if(saveSearch == null) { %>
                            <input id="price" type="text" class="span2" name="price" value="<%= prixMin %>,<%= prixMax %>" data-slider-min=<%= prixMin %> data-slider-max=<%= prixMax %> data-slider-step="1" data-slider-value="[<%= prixMin %>,<%= prixMax %>]"/>
                           <% }else{ %>
                            <input id="price" type="text" class="span2" name="price" value="<%= saveSearch.priceMin %>,<%= saveSearch.priceMax %>" data-slider-min=<%= prixMin %> data-slider-max=<%= prixMax %> data-slider-step="1" data-slider-value="[<%= saveSearch.priceMin %>,<%= saveSearch.priceMax %>]"/>
                           <% } %>
                      </p>
                      <% } %>
                      <p>
                          <label for="address">Proche de :</label>
                          <br>
                          <input type="text" class="input-text required-entry" id="address" name="address" autocomplete="off" style="width:100%">
                          <input type="hidden" class="form-control" id="lat" name="lat">
                          <input type="hidden" class="form-control" id="long" name="long">
                      </p>
                      <p style="text-align:center">
                          <button type="submit" id="submitbtn" class="btn btn-info">Rechercher</button>
                      </p>
                    </form>
                  </div>
                  <!--box-content box-category--> 
                  </div>
              </aside>
            </div>


        </div>
  
  </div>
</section>

  </div>
<% include ./partials/footer %>
<% include ./partials/quickView %>
</body>
</html>