<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Etape 1 : Adresse de livraison</title>
    <% include ./partials/header %>
</head>
<body class="cms-index-index cms-home-page">
    <div id="page"> 
        <!-- Header -->
        <header>
            <% include ./partials/topBar %>
            <% include ./partials/navbar %>
        </header>
    

    <section class="main-container col1-layout">
        <div class="main container">
            <div class="col-main">
            <div class="cart wow bounceInUp animated">
                <div class="page-title">
                <h2>Etape 1 : Adresse de livraison</h2>
                <hr>
                </div>
                <fieldset class="col2-set">
                    <div class="col-1 new-users"><strong>Utiliser une adresse enregistré :</strong></div><br /><br />
                    <% if(address.lastNameUser == null || address.lastNameUser =="") { %>
                        <p>Pas d'adresse enregistrée</p>
                        <p>Vous pouvez enregistré une adresse à utiliser dans l'espace Mon compte rubrique adresse de livraison.</p>
                    <% }else{ %>
                        <strong>
                        <% if(address.sexUser == "H") { %>
                            <p>M. <%=address.lastNameUser%> <%=address.firstNameUser%></p>    
                        <% } else { %>
                            <p>Mme. <%=address.lastNameUser%> <%=address.firstNameUser%></p>
                        <% } %>
                            <p><%=address.addressUser%></p>
                            <p><%=address.cpUser%> <%=address.cityUser%></p>
                        </strong>
                        <form action="/proceedCheckout/pay" method="post">

                            <input type="hidden" title="lastName" id="lastName" name="lastName" value="<%=address.lastNameUser%>" required >
                            <input type="hidden" title="firstName" id="firstName" name="firstName" value="<%=address.firstNameUser%>" required>
                            <input type="hidden" title="sex" id="sex"  name="sex" value="<%=address.sexUser%>" required>
                            <input type="hidden" title="address" id="address" name="address" value="<%=address.addressUser%>" required>
                            <input type="hidden" title="city" id="city" name="city" value="<%=address.cityUser%>" required>
                            <input type="hidden" title="cp" id="cp" name="cp" value="<%=address.cpUser%>"  required>
                            <button name="send" type="submit" class="button"><span>Utiliser cette adresse</span></button>
                        </form>
                    <% } %>
                </fieldset>
                <hr>
                <fieldset class="col2-set">
                    <div class="col-1 new-users"><strong>Saisir un adresse de livraison :</strong></div><br /><br />
                    <div class="content">
                        <form action="/proceedCheckout/pay" method="post">
                            <ul class="form-list">
                                <li>
                                    <label for="lastName">Nom</label>
                                    <br>
                                    <input type="text" title="lastName" class="input-text required-entry" id="lastName" name="lastName" required >
                                </li>
                                <li>
                                    <label for="mail">Prénom</label>
                                    <br>
                                    <input type="text" title="firstName" id="firstName" class="input-text required-entry" name="firstName" required>
                                </li>
                                <li>
                                    <label for="Sex">Civilité</label>
                                    <br>
                                    <select name="sex" required>
                                        <option></option>
                                        <option value="H" name="sex">Monsieur</option>
                                        <option value="F" name="sex">Madame</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="address">Adresse</label>
                                    <br>
                                    <input type="text" title="address" id="address" class="input-text required-entry" name="address" required>
                                </li>
                                <li>
                                    <label for="city">Ville</label>
                                    <br>
                                    <input type="text" title="city" id="city" class="input-text required-entry" name="city" required>
                                </li>
                                <li>
                                    <label for="cp">Code Postal</label>
                                    <br>
                                    <input type="text" title="cp" id="cp" class="input-text required-entry" name="cp"  required>
                                </li>
                              
                            </ul>
                            <button name="send" type="submit" class="button"><span>Utiliser ces informations pour la livraison</span></button>
                        </form>
                    </div>
                </fieldset>
            </div>
            </div>
        </div>
    </section>
</div>
<% include ./partials/footer %>
</body>