
<!doctype html>
<link rel="stylesheet" type="text/css" href="/css/progressBar.css">
<html>
<head>
    <title>Coopérative d'agriculteurs</title>
    <% include ../partials/header %>
</head>
<body class="cms-index-index cms-home-page">
    <div id="page"> 
        <!-- Header -->
        <header>
            <% include ../partials/topBar %>
        </header>
        
        <section class="main-container top-space col1-layout">
            <div class="main container container-progress">
                <div class="account-login">
                <div class="page-title">  
                </div>
                <div class="center">
                <img src="/img/farmer.svg" id="soldier" class="illustrationImage"/>
                <h1 style="display:inline;"><%= coop.name %></h1>
                <img src="/img/gardener.svg" id="soldier" class="illustrationImage"/></br></br>
                <% if(!memberOrAdmin){ %>
                <button class="autocomplete-submit" <% if(isSubcribed){ %>style="display:none;"<% } %> type="button" onclick="subscribe();" id="subscribebtn"><i class="fa fa-user-plus"></i> S'abonner</button>
                <button class="autocomplete-cancel" <% if(!isSubcribed){ %>style="display:none;"<% } %> type="button" onclick="unsubscribe();" id="unsubscribebtn"><i class="fa fa-user-times"></i> Se désabonner</button>
                <% } else { %>
                    <a href="/producersGroup/<%- coop.id %>" class="autocomplete-submit" id="inviteProducerbtn"><i class="fa fa-hand-o-right"></i> Page du groupe </a></br>
                <% } %>
                </div>
                <hr>
                <% if (msgError.length > 0) { %>
                    <div class="alert alert-danger"><%= msgError %></div>
                <% } %>
                <% if (msgSuccess.length > 0) { %>
                    <div class="alert alert-success"> <%- msgSuccess %> </div>
                <% } %>
                <% if(coop===undefined){ %>
                    <div class="alert alert-danger">
                        Cette coopérative n'existe pas ! 
                    </div>
                <% } else { %>
                <div style="width:50%; float:left;">
                <div id="coopInfo" class="center">
                    <h1><%= coop.name %>:<h1>
                    <% if(coop.avatar == 'default'){%>
                    <img class="uploadedImageRound" alt="<%= coop.name %>" src="/img/team.svg"/>
                    <% } else { %>
                    <img class="uploadedImageRound" alt="<%= coop.name %>" src="<%=urlApi%>/groupAvatar/<%=coop.id%>/<%=coop.avatar%>"/>
                    <% } %>
                    <h2><%= coop.countMembers %> Membres</h2>
                    <p class="descriptionParagraph"><%- coop.description %></p>
                    <div id="map" class="form-control" style="width: 90%; height:450px; margin-left: 5%;"></div>
                    <h5>Adresse: <%= coop.adress %></h5>
                    <h5>Email de la coopérative: <%= coop.email %></h5>
                    <h5>Téléphone de la coopérative: <%= coop.phone %></h5>
                </div>
                </div>
                <div style="width: 50%; float:right;">
                    <div>
                        <div class="greenVerticalBar" style="float:left; width:1%"></div>
                        <div style="width: 95%; float:right">
                            <h1 style="text-align: center">Administrateur:</h1>
                            <ul class="prettyList" style"height:50px !important;">
                                <li class="prettyList">
                                    <img class="prettyList" src="<%=urlApi%>/producerAvatar/<%=coop.idProducer%>/<%=coop.avatarProducer%>" />
                                    <h3 class="prettyList"><%=coop.firstNameProducer%> <%=coop.lastNameProducer%></h3>
                                    <p class="prettyList"><%=coop.descriptionProducer%> </br><strong>Code postal: </strong> <%=coop.cpProducer%></p>
                                </li>
                            </ul>
                            <h1 style="text-align: center">Événements:</h1></br>
                            <% if(coop.loginUser == session.login){ %>
                            <div>
                                <a href="/producersGroupEvent/new/<%- coop.id %>" class="autocomplete-submit large-submit-center" id="inviteProducerbtn"><i class="fa fa-calendar"></i> Créer un événement</a></br>
                            </div>
                            <% } %>
                            <% if(coopEvents.length==0){ %>
                                <div class="alert alert-info">
                                    Cette coopérative ne possède aucun événement ! 
                                </div>
                            <% } %>
                            <ul class="prettyList prettyListMember">
                                <% for(var i=0; i<coopEvents.length; i++) { %>
                                    <li class="prettyList" id="event<%=coopEvents[i].idEvent%>">
                                    <a href="/producersGroupEvent/<%- coopEvents[i].idEvent %>" style="float:right; width:150px;" class="autocomplete-submit" id="eventbtn<%=coopEvents[i].idEvent%>"><i class="fa fa-eye"></i> Visionner l'événement</a>
                                    <h3 class="prettyList"><%=coopEvents[i].nameEvent%></h3>
                                    <p class="prettyList"><%=coopEvents[i].descriptionEvent%> </br><strong>Date: </strong> <%=coopEvents[i].dateEvent%></p>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
                <% } %>
                </div>
            </div>
        </section>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&key=AIzaSyBm8DYeq7M1jOwLccw1_5idQoXpGcUd0uM&libraries=places"></script>
        <script type="text/javascript">
            $("document").ready(function(){
                founderId = '<%- coop.founderUserId %>';
                groupId = '<%- coop.id %>';
                coopName = '<%- coop.name %>';
                "<% if (typeof coop !== 'undefined') { %>"
                    coop = JSON.parse('<%- JSON.stringify(coop).replace(/[\\$\'"]/g, "\\$&") %>');
                    var latlng = coop.location.split(',');
                    selectAdress(latlng[0], latlng[1], 15, true);
                "<% } %>"
            });

            function selectAdress(lat, long, zoom, marker){
                console.log(lat+","+long+","+zoom+","+marker);
                var latlng = new google.maps.LatLng(lat, long)
                var myOptions = {
                  center: latlng,
                  zoom: zoom,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("map"),
                    myOptions);
                    console.log(map);
                if(marker){
                    var marker = new google.maps.Marker({
                        position: latlng,
                        map: map,
                        title: 'Adresse'
                    });
                }
            }
            
        </script>

    </div>
    <% include ../partials/footer %>
</body>
<script type="text/javascript" src="/js/cooperation-feed.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>